/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #07080c;
}
.container-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: 500;
}
.image {
  width: 60%;
}
.heading {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}
.description {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}

.button {
  color: #ffffff;
  background-color: #0b69ff;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  border-radius: 12px;
  border-width: 0px;
  margin: 20px;
}
.break-button {
  color: #ffffff;
  background-color: transparent;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  border-radius: 12px;
  border-width: 2px;
  border-color: #cbd5e1;
}
